<div id="<%= dom_id flashcard %>">
  <p>
    <strong>Name:</strong>
    <%= flashcard.code %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= flashcard.question %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= flashcard.answer %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= flashcard.unit %>
  </p>

</div>
